{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="http://via.placeholder.com/250x150" alt="" class="card-img-top img-fluid">
                    <div class="card-block card-title">
                        <h4>This is the title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary">Voir le jeu</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


